<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/MainPageAnalise.css">
</head>

<body>
<header class="main-title">
    (Кнопка для удаления ссесии пользователя)   
</header>

<div class="page_block" role="list">
    <select class="select-user" id="SelectUser">

    </select>
</div>

<div class="page_block_Analise" role="list" id="AnaliseBlock">

</div>

<script src="/assets/js/BroadcastJson.js"></script>
</body>

